.l-siteContainer {
	display: flex;
	flex-direction: column;
}

.l-navigation {
  display: flex;
  justify-content: space-between;

  .l-navlinks {
    flex: 1;
  }
}

.l-mainContent {
		flex-grow: 1;
		width: 100%;
}

.mainNav {

}

