.l-siteContainer {
	display: flex;
	flex-direction: column;

  & > * {
    flex:1 1 auto;
  }
}

.l-navigation {
  display: flex;
  justify-content: space-between;

  .l-navlinks {
    flex: 1;
  }
}

.l-mainContent {
		// overflow-y:scroll;
  // -webkit-overflow-scrolling:touch;
}

.l-footer-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}


