.l-siteContainer {
	display: flex;
	flex-direction: column;
}

.siteContainer> * {
  flex:1 1 auto;
}

.l-navigation {
  display: flex;
  justify-content: space-between;

  .l-navlinks {
    flex: 1;
  }
}

.l-mainContent {
		// overflow-y:scroll;
  // -webkit-overflow-scrolling:touch;
}

.mainNav {

}

