.siteContainer {
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	transition: 'opacity #{_duration(menu)} ease';
	opacity: 1;

	padding: 0;

	@include respondTo(xlarge) {
		padding: _size(section-spacing);
	}

	@include respondTo(large) {
		padding: _size(section-spacing-small);
	}

	.is-menu-visible {
		opacity: 0.15;
	}
}