.siteContainer {
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	transition: 'opacity #{_duration(menu)} ease';
	opacity: 1;
	padding: calc(#{_size(section-spacing)} * 1.5);

	.is-menu-visible {
		opacity: 0.15;
	}

	@include respondTo(xlarge) {
		padding: _size(section-spacing);
	}

	@include respondTo(small) {
		padding: _size(section-spacing-small);
	}
}