.siteCover  {
	position: relative;
  height:300px;
  width:100%;

	// display:flex;
	// justify-content:center;
	// align-items:center;

  &__caption {
  	position: relative;
  	display: inline-block;
  	margin-top: 60px;
  	text-align: center;
  	font-size: 30px;
  	z-index: 10;
  	border: 0;
	  padding:10px;
	  background-color: transparent;
	  color: white;
	  line-height:50px;
  }
}